#thankyou {
	text-align: center;
	color: white;
	font-family: 'Electrolize', sans-serif;
	font-size: 50px;
}

#redirect {
	text-align: center;
	color: white;
	font-family: 'Electrolize', sans-serif;
}

#redirect a {
	text-align: center;
	color: white;
	font-family: 'Electrolize', sans-serif;
}